/.bundle/
.jekyll-cache/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
spec/status_persistence.txt
demo/_site/
demo/.jekyll-cache/
demo/.jekyll-metadata
demo/.gitignore
demo/*.zip
demo/*.tar
