.jekyll-cache/
/.bundle/
/.jekyll-metadata
/.yardoc
/_site/
/_yardoc/
/coverage/
/doc/
/binstub/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
demo/*.tar
demo/*.zip
demo/.gitignore
demo/.jekyll-cache/
demo/.jekyll-metadata
demo/_site/
spec/status_persistence.txt
